{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="row">
	<section class="col-xs-12 col-sm-6" id="left_tile">
		<h1>I am a Software Architect</h1>
    	<p>I specialise in building high performance, scalable, robust applications with high levels of test coverage.</p>
    	<p>Interested in finding out <a href="/about">more about me</a>?</p>
    	<p><a href="/contact" class="btn btn-warning btn-lg">Feel free to contact me <i class="icon-envelope-alt"></i></a></p>
	</section>
	<section class="hidden-xs col-sm-6" id="right_tile">
		<div>
    		<img src="{{asset "images/stock-image-001.jpg"}}" class="img-responsive"/>
    	</div>
	</section>
</div>
<hr/>
<div class="row">
	<section class="col-sm-12">
		<section id="focus">
		<h1>My Focus &amp; Expertise</h1>
		<div class="row">
			<div class="col-sm-6">
				<h2>Technology &amp; Business Alignment</h2>
				<p>I strongly believe that technology needs to first support business needs and that technologists must properly understand the goals and aims of the business to allow them to suggest and design the best and most appropriate solution for the job.</p>
				<h2>Code Quality</h2>
				<p>I believe that code quality is the foundation of any successful technology project. This is achieved through test driven development, continuous integration, code review and above all a passion for creating a high quality product.</p>
				<p>This does not mean that the needs of the business have to be at odds with this ethos. In fact the exact opposite, all the techniques I mention provide regression coverage so changes can be made with confidence. This ultimately gives the business agility. Allowing them to react in a timely fashion to changes in the market landscape.</p>
			</div>
			<div class="col-sm-6">
				<h2>Constant Improvement</h2>
				<p>All good software engineers should always be asking themselves the question 'can I do better?'. This is not limited to the code they write or the systems they build but they also need to look in the mirror.</p>
				<p>We work in an industry where the established norms are always changing. New technology emerges at a frightening rate, to the point where you can wake up one morning to find that everything has changed while you are sleeping. This is both very exciting and demanding. However, it is a challenge I relish.</p>
				<p>Staying on top of new developments and being able to sift through and categorise all the new technologies and techniques that emerge on a daily basis is something I think I am particularly strong at. I really enjoy working with people who are equally passionate about technology and like to share ideas.</p>
				<a href="/about" class="btn btn-warning btn-lg">More about my focus<br class="visible-xs"/> &amp; expertise <i class="icon-info-sign"></i></a>
			</div>
		</div>
	</section>
	<hr/>
		{{! The tag below includes the post loop - partials/loop.hbs }}
        {{> "loop"}}
	</section>
</div>
